@layer base {
	:root {
		-webkit-print-color-adjust: exact !important;
		-webkit-tap-highlight-color: transparent;
	}

	html, body {
		@apply scroll-smooth;
	}

	[disabled] {
		@apply opacity-50 pointer-events-none;
	}

	::selection {
		@apply bg-neutral-500 text-neutral-100;
	}

	a, button {
		transition: color .1s ease, background-color .1s ease, opacity .1s ease, box-shadow .1s ease;
	}

	svg {
		&.icon {
			flex-shrink: 0;
			height: 1.625rem;
			width: 1.625rem;
		}
	}

	table {
		@apply w-full
	}

	overlay {
		@apply fixed flex justify-center items-center inset-0 w-full h-full bg-black/50 z-50 opacity-0 pointer-events-none transition duration-150 backdrop-blur-sm;

		& > content {
			transition: all .2s linear(0, 0.353 7.7%, 0.629 15.9%, 0.831 24.7%, 0.906 29.4%, 0.965 34.3%, 1.028 43.2%, 1.045 48.1%, 1.052 53.5%, 1.047 62.9%, 1.006 86.8%, 1);
			transform: scale(0.8);
			@apply relative flex flex-col overflow-hidden;

			& > iframe {
				@apply w-full h-full grow z-60;
			}
		}

		&.visible {
			@apply opacity-100 pointer-events-auto;

			& > content {
				transform: scale(1);
			}
		}
	}

	input-group {
		@apply flex flex-col justify-center grow w-full relative;

		& > input-box {
			@apply items-center relative flex overflow-hidden rounded-md transition duration-100 inset-ring inset-ring-black/10 dark:inset-ring-neutral-100/10 bg-neutral-100 dark:bg-neutral-800;

			&.has-error {
				@apply inset-ring-red-500 dark:inset-ring-red-400;
			}

			&:not([disabled]):hover {
				@apply inset-ring-black/30  dark:inset-ring-neutral-100/30;
			}

			&:not([disabled]):focus-within {
				@apply bg-white dark:bg-neutral-900 inset-ring-black/60 dark:inset-ring-neutral-100/60 shadow-md shadow-black/10 dark:shadow-neutral-100/10;
			}

			& > textarea {
				@apply min-h-10;
			}

			& > input, & > select {
				@apply h-10;
			}

			& > input, & > textarea, & > select {
				@apply block py-2 grow outline-none m-[1px] rounded-[inherit];

				&:first-child {
					@apply pl-3;
				}

				&:last-child {
					@apply pr-3;
				}
			}
		}

		& > input-errors {
			@apply flex flex-col gap-1 mt-1 text-sm text-red-500 dark:text-red-400;
		}
	}

	input, select, textarea {

		&.checkbox, &.radio, &.toggle, &.swatch {
			@apply appearance-none relative before:absolute after:absolute cursor-pointer shrink-0;

			@media (forced-colors: active) {
				@apply forced-colors:appearance-auto forced-colors:before:hidden forced-colors:after:hidden;
			}
		}

		&.checkbox, &.radio {
			@apply size-4.5;

			&:before {
				@apply inset-0 rounded-[inherit] inset-ring inset-ring-neutral-300 dark:inset-ring-neutral-700;
				transition: all .15s ease;
			}
			&:after {
				@apply inset-0 scale-20 bg-white dark:bg-neutral-900 pointer-events-none;
				transition: all .15s ease;
			}
			&:checked:before {
				@apply inset-ring-20 inset-ring-neutral-600 dark:inset-ring-neutral-300;
			}
			&:checked:after {
				@apply scale-50;
			}
		}

		&.checkbox {
			@apply rounded-sm;

			&:after {
				@apply top-2/5 -translate-y-1/2 left-1/2 -translate-x-1/2 rotate-45 w-3 h-5 bg-transparent border-b-4 border-r-4 border-white dark:border-neutral-900;
			}
		}

		&.radio {
			@apply rounded-full after:rounded-full;
		}

		&.toggle {
			@apply h-4.5 w-9 rounded-full border border-neutral-300 dark:border-neutral-700 transition duration-300;

			&:checked {
				@apply border-neutral-600 dark:border-neutral-300 bg-neutral-600 dark:bg-neutral-300;
			}
			&:before {
				@apply top-1/2 left-0.5 -translate-y-1/2 w-3 h-3 rounded-full bg-neutral-300 dark:bg-neutral-700 transition-all duration-300;
			}
			&:active:before {
				@apply w-4.5 h-2.5;
			}
			&:checked:before {
				@apply left-5 bg-white dark:bg-neutral-900;
			}
			&:checked:active:before {
				@apply left-3.5 w-4.5 h-2.5;
			}
		}

		&.swatch {
			@apply h-8.5 w-[auto] rounded-md forced-color-adjust-none inset-ring inset-ring-black/10 dark:inset-ring-white/50;

			&:before {
				@apply size-5.5 scale-40 rounded-full top-1/2 -translate-y-1/2 left-1/2 opacity-0 -translate-x-1/2 bg-white dark:bg-neutral-900;
				@apply ring ring-black/10 dark:ring-white/50;
				transition: all .15s ease;
			}
			&:checked:before {
				@apply opacity-100 scale-100;
			}
			&:after {
				@apply scale-40 opacity-0 top-5/11 -translate-y-1/2 left-1/2 -translate-x-1/2 rotate-45 w-3 h-5 bg-transparent border-b-4 border-r-4 border-neutral-600 dark:border-neutral-300;
				transition: all .15s ease;
			}
			&:checked:after {
				@apply scale-60 opacity-100;
			}
		}

		&.range {
			@apply appearance-none w-full h-1.5 bg-neutral-200 dark:bg-neutral-800 rounded-full;

			&::-webkit-slider-thumb {
				@apply appearance-none size-3.5 bg-neutral-400 dark:bg-neutral-600 rounded-full;
				transition: all .15s ease;
			}

			&::-webkit-slider-thumb:hover {
				@apply bg-neutral-600 dark:bg-neutral-400 rounded-full cursor-grab;
			}
		}

		&[disabled], &[readonly] {
			@apply opacity-65;
		}

		&:invalid:not(:focus) {
			@apply text-red-500 dark:text-red-400;
		}

		&::placeholder {
			@apply text-neutral-400 dark:text-neutral-500;
		}
	}

	select {
		@apply cursor-pointer appearance-none;
	}

	blockquote {
		@apply relative pl-4 py-2 italic before:absolute after:block;

		&:before {
			@apply left-0 top-0 w-1 h-full bg-neutral-300 dark:bg-neutral-700 rounded-md;
		}

		&[cite]:after {
			content: attr(cite);
			@apply text-sm font-bold mt-3 not-italic;
		}
	}

	article, comment {
		& > h2, & > h3, & > h4, & > h5, & p, & blockquote, & ul, & ol, & > div, & > hr {
			&:not(:last-child) {
				@apply mb-3.5;
			}
		}

		& > h2, & > h3, & > h4, & > h5 {
			@apply font-semibold mt-5;
		}

		& > h2 {
			@apply text-xl;
		}

		& > h3 {
			@apply text-lg;
		}

		& > * + div {
			@apply mt-4;
		}

		& > div + * {
			@apply mt-4;
		}

		& p > .image:not(.full) {
			@apply mb-3;
		}

		& ul {
			@apply pl-4.5 list-disc ;
		}

		& ol {
			@apply pl-4.5 list-decimal;
		}
	}

}