@utility grid-cols-auto {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@utility variable-svg {
	position: relative;
	flex-shrink: 0;

	& svg.icon {
		display: block;
		height: 100%;
		width: 100%;
	}
}

@utility activity-blip {
	@apply relative after:absolute after:size-3 after:right-0.5 after:bottom-0.5 after:rounded-full after:ring-2;

	&.online:after {
		@apply bg-green-500;
	}

	&.offline:after {
		@apply bg-red-500;
	}
}