iframe {
	border: none;
}

iframe.youtube {
	width: 100%;
	height: 410px;
	margin: 1.4em 0;
	border-radius: var(--radius-standard);
}

[type]:-webkit-autofill::first-line {
	font-family: var(--font-family-standard), sans-serif !important;
	font-size: 16px;
}

[type]:-webkit-autofill {
	-webkit-text-fill-color: rgba(var(--color-autofill), 1);
}

/* ---------------------- */
/* Typography */

cite, em {
	color: rgba(var(--color-font), 1);
	font-variation-settings: 'wght' 250, 'ital' 100;
	font-weight: 250;
}

sub {
	font-size: .7em;
	position: relative;
	top: 0;
}

sup {
	font-size: .7em;
	position: relative;
	top: -.1em;
}

kbd {
	background: rgba(var(--color-font), 0.5);
	border-radius: var(--radius-small);
	color: rgba(var(--color-light), 1);
	font-family: monospace;
	font-size: 0.9em;
	font-weight: 600;
	margin: 0 1px;
	padding: 1px 6px;
}

mark {
	background: rgba(var(--color-font), .15);
	border-radius: var(--radius-small);
	color: rgba(var(--color-font), 1);
	font-size: 1em;
	padding: 0 0.15em;
}

mark[class*='accent-'] {
	background: rgba(var(--color-accent), .25);
}

/* ---------------------- */
/* Gallery */

gallery > a[caption]::after, .image[caption]::after {
	content: attr(caption);
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(var(--color-dark), 1);
	color: rgba(var(--color-light), 1);
	padding: 0 15px;
	transition: .2s ease;
	font-size: 14px;
	transform: translateY(100%);
	height: 30px;
	line-height: 30px;
	text-align: center;
	box-sizing: border-box;
}

gallery > a[caption]:hover::after, .image[caption]:hover::after {
	transform: translateY(0);
}

/* ---------------------- */
/* Tables */

table-scroller {
	display: block;
	margin: 1.25rem 0 0;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}

table {
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	margin: 1.25rem 0 0;
	width: 100%;
}

table.bordered, table-scroller.bordered {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
}

table-scroller > table {
	margin-top: 0;
}

table tbody tr:nth-child(2n + 1) {
	background: rgba(var(--color-font), .025);
}

table tbody tr[data-href] {
	cursor: pointer;
	transition: all .12s ease;
}

table tbody tr[data-href]:hover {
	background: rgba(var(--color-font), .05);
}

table thead th {
	border-bottom: 1px solid rgba(var(--color-font), 0.05);
	color: rgba(var(--color-font), var(--opacity-subtext));
	font-size: 0.94rem;
	font-weight: 500;
	padding: 0.75rem;
	text-align: left;
	white-space: nowrap;
	user-select: none;
}

table thead th.sortable {
	color: rgba(var(--color-font), var(--opacity-subtext));
	cursor: pointer;
}

table thead th.sortable:hover {
	text-decoration: underline;
}

table thead th.sortable.sorted {
	color: rgba(var(--color-font), 1);
}

table thead th.sortable.sorted::after {
	content: ' •';
}

table td {
	color: rgba(var(--color-font), 1);
	padding: 0.75rem;
	text-align: left;
}

table td small {
	color: rgba(var(--color-font), var(--opacity-subtext));
}

table tfoot tr td {
	background: none;
	border: none;
	border-top: 1px solid rgba(var(--color-font), .05);
	box-shadow: none;
	color: rgba(var(--color-font), var(--opacity-subtext));
	font-size: 0.94rem;
}

table th.th-actions, table td.td-actions {
	text-align: right;
}

table td.td-actions {
	display: flex;
	flex-direction: row;
	column-gap: 0.8rem;
	justify-content: flex-end;
}

table td.td-actions:has(.icon) {
	column-gap: 0.25rem;
	padding: 0.5rem 0.75rem;
}

table td.td-actions a {
	display: inline-block;
	text-decoration: none;
}

table td.td-actions a:hover {
	text-decoration: underline;
}

table td.td-actions a:has(svg) {
	background: rgba(var(--color-font), 0);
	border-radius: var(--radius-small);
	display: inline-flex;
	padding: 0.5rem;
}

table td.td-actions a:has(svg):hover {
	background: rgba(var(--color-font), .05);
}

table td.td-actions a:has(svg) svg {
	color: rgba(var(--color-font), 1);
	transition: all .12s ease;
}

table td.td-actions a:has(svg)[class*='accent-'] svg {
	color: rgba(var(--color-accent), 1);
}

table td.td-actions button {
	margin: 0 0 -2px 10px;
	vertical-align: middle;
}

table td.td-avatar {
	width: 70px;
}

table td.td-avatar img {
	border-radius: var(--radius-infinite);
	height: 32px;
	margin-bottom: -5px;
	min-height: 32px;
	min-width: 32px;
	object-fit: cover;
	width: 32px;
}

table td.td-image img {
	border-radius: var(--radius-small);
	margin-bottom: -5px;
	max-width: 70px;
	object-fit: cover;
}

table td.td-image.medium-wide img {
	width: 70px;
	height: 40px;
}

table td.td-image.medium-regular img {
	width: 54px;
	height: 40px;
}

table td.td-image.medium-square img {
	width: 40px;
	height: 40px;
}

table td.td-image.small-wide img {
	width: 54px;
	height: 30px;
}

table td.td-image.small-regular img {
	width: 40px;
	height: 30px;
}

table td.td-image.small-square img {
	width: 30px;
	height: 30px;
}

table.datalist {
	max-width: 100%;
}

table.datalist tbody tr {
	background: none;
}

table.datalist tbody tr td {
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1px solid rgba(var(--color-font), .05);
}

table.datalist tbody tr:first-child td {
	border-top: none;
}

table.datalist tbody tr td:first-child, table.datalist tbody tr td:nth-child(3) {
	color: rgba(var(--color-font), var(--opacity-subtext));
	white-space: nowrap;
	padding-right: 40px;
}

table.datalist tbody tr td:last-child {
	width: 100%;
}

table.datalist tbody tr td > :first-child {
	margin-top: 0;
}

/* ---------------------- */
/* Filters */

table-filters {
	background: rgba(var(--color-font), .025);
	display: block;
	padding: 1rem 1.25rem;
	overflow-x: auto;
}

table-filters > form, table-filters {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	row-gap: 10px;
	align-items: flex-end;
}

table-filters input-group {
	width: auto;
	min-width: 150px;
}

table-filters input, table-filters select {
	height: 34px;
	padding: 0 10px;
}

table-filters button, table-filters .button {
	height: 36px;
	margin: 0 5px 0 0;
}

table-filters + table {
	border-top: 1px solid rgba(var(--color-font), 0.05);
}

/* ---------------------- */
/* Inputs */

select option:disabled {
	color: rgba(var(--color-font), var(--opacity-subtext));
}

input[type='file'] {
	display: block;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 80%;
}

input[type='file'] + label {
	color: rgba(var(--color-font), 1);
	cursor: pointer;
	display: block;
	flex-grow: 1;
	font-size: 1rem;
	font-weight: 400;
	height: 2.75rem;
	line-height: 2.75rem;
	margin: 0;
	padding: 0 1rem;
}

/* ---------------------- */
/* Drawings */

.input-drawing {
	background: rgba(var(--color-input), 1);
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: all .12s ease;
}

.input-drawing:hover {
	border: 1px solid rgba(var(--color-font), .3);
}

.input-drawing + input-group {
	margin-top: 0.5rem;
}

.input-drawing > canvas {
	background: rgba(var(--color-card), 1);
}

.input-drawing > canvas.light {
	background: rgba(var(--color-light), 1);
}

.input-drawing > canvas-toolbar {
	border-top: 1px solid rgba(var(--color-font), .1);
	display: flex;
	column-gap: 12px;
	padding: 8px 12px;
}

.input-drawing > canvas-toolbar > input-group label {
	height: calc(2.4rem - 1px);
	line-height: calc(2.4rem - 1px);
}

.input-drawing > canvas-toolbar > .button {
	margin: 0;
}

/* ---------------------- */
/* Accordion */

accordion {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 1.25rem 0 0;
}

accordion.borderless {
	border: none;
}

accordion > details {
	overflow: hidden;
}

accordion > details:first-child {
	border-top-left-radius: var(--radius-medium);
	border-top-right-radius: var(--radius-medium);
}

accordion > details:last-child {
	border-bottom-left-radius: var(--radius-medium);
	border-bottom-right-radius: var(--radius-medium);
}

accordion.borderless > details {
	border-radius: 0;
}

accordion > details:not(:first-child) {
	border-top: 1px solid rgba(var(--color-font), 0.1);
}

accordion > details > summary {
	padding: 12px 14px;
	font-size: 16px;
	cursor: pointer;
	transition: all .12s ease;
	user-select: none;
}

accordion > details > summary:hover {
	color: rgba(var(--color-accent), 1);
}

accordion > details[open] > summary {
	background: rgba(var(--color-font), .035);
}

accordion > details > details-content {
	padding: 16px 20px;
	display: block;
}

accordion > details > details-content :first-child {
	margin-top: 0;
}

content.minimal > accordion > details > summary {
	padding: 0.8rem 1.25rem;
}

content.minimal > accordion > details > details-content {
	padding: 1rem 1.25rem;
}

/* ---------------------- */
/* Notices */

notice {
	align-items: center;
	background: rgba(var(--color-accent), .15);
	border: 1px solid rgba(var(--color-accent), .4);
	border-radius: var(--radius-medium);
	color: rgba(var(--color-font), 1);
	column-gap: 1rem;
	display: flex;
	flex-direction: row;
	padding: 0.6rem 1rem;
	user-select: none;
}

notice > svg {
	color: rgba(var(--color-accent), 1);
	flex: 0 0 1.625rem;
}

notice > content {
	flex-grow: 1;
	line-height: 1.4;
}

notice > a {
	white-space: nowrap;
}

/* ---------------------- */
/* Progress */

progress-group {
	display: block;
	height: auto;
	position: relative;
}

progress-group + progress-group, progress-group + split, split + progress-group {
	margin-top: 1.25rem;
}

progress-group span {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	color: rgba(var(--color-font), 1);
	font-size: 0.94rem;
	font-weight: 500;
	margin-bottom: 5px;
	position: relative;
	user-select: none;
}

progress-group span small {
	opacity: var(--opacity-subtext);
}

progress + span {
	margin-top: 5px;
	margin-bottom: 0;
}

progress {
	appearance: none;
	background: rgba(var(--color-font), .1);
	border: none;
	border-radius: var(--radius-medium);
	overflow: hidden;
	display: block;
	height: 0.5rem;
	margin: 0;
	position: relative;
	width: 100%;
}

progress:not([value]):after {
	animation: progress-bar 2.5s cubic-bezier(.56, 0, .56, 1) infinite;
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-medium);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

progress::-webkit-progress-bar {
	background: transparent;
}

progress::-webkit-progress-value {
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-medium);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
}

progress.muted::-webkit-progress-value {
	background: rgba(var(--color-font), .5);
	box-shadow: none;
}

/* ---------------------- */
/* Toasts */

toast {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: rgba(var(--color-card), 1);
	border: 1px solid rgba(var(--color-font), .1);
	box-shadow: 0 4px 20px 0 rgba(var(--color-dark), .1);
	border-radius: var(--radius-standard);
	color: rgba(var(--color-font), 1);
	pointer-events: none;
	position: fixed;
	top: 30px;
	left: 10px;
	right: 10px;
	width: fit-content;
	height: fit-content;
	margin: auto;
	transform: translateY(-100%);
	opacity: 0;
	transition: all .3s ease;
	padding: 0.8rem 1.5rem;
	z-index: 14;
}

toast > svg {
	flex-shrink: 0;
}

toast > span {
	line-height: 1.4;
}

toast[class*='accent-'] {
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-light), 1);
}

toast.visible {
	transform: translateY(0);
	opacity: 1;
}

/* ---------------------- */
/* Pagination */

pagination {
	display: flex;
	flex-direction: row;
	column-gap: 6px;
	user-select: none;
}

pagination a {
	color: rgba(var(--color-font), var(--opacity-subtext));
	border-radius: var(--radius-small);
	display: flex;
	align-items: center;
	height: 2.5em;
	font-size: 14px;
	text-decoration: none;
}

pagination a:not([tabindex='-1']) {
	background: rgba(var(--color-font), .05);
	padding: 0 10px;
	transition: all .12s ease;
	box-shadow: inset 0 0 0 2px rgba(var(--color-accent), 0);
}

pagination a.icon {
	padding: 0 4px;
}

pagination a:not([tabindex='-1']):hover {
	background: rgba(var(--color-font), .1);
	color: rgba(var(--color-font), 1);
}

pagination a:not([tabindex='-1']).active {
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-light), 1);
}

pagination a[disabled] {
	background: transparent;
}

/* ---------------------- */
/* Attachments */

.attachment {
	display: flex;
	padding: 12px 15px;
	border: 1px solid rgba(var(--color-font), .1);
	color: rgba(var(--color-font), 1);
	column-gap: 15px;
	flex-direction: row;
	border-top: none;
	transition: all .12s ease;
	width: 100%;
	text-decoration: none;
	align-items: center;
}

.attachment svg {
	flex: 0 0 1.625rem;
	opacity: var(--opacity-subtext);
	transition: all .12s ease;
}

.attachment span {
	flex-grow: 1;
	font-weight: 600;
	color: rgba(var(--color-font), 1);
	overflow: hidden;
	word-wrap: break-word;
	line-height: 26px;
	width: 100%;
}

.attachment:hover {
	background: rgba(var(--color-font), .025);
}

.attachment:hover svg {
	color: rgba(var(--color-accent), 1);
	opacity: 1;
}

.attachment:first-child {
	border-top: 1px solid rgba(var(--color-font), .1);
	border-top-left-radius: var(--radius-medium);
	border-top-right-radius: var(--radius-medium);
}

.attachment:last-child {
	border-bottom-left-radius: var(--radius-medium);
	border-bottom-right-radius: var(--radius-medium);
}

split .attachment {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
}

/* ---------------------- */
/* Codeblocks */

pre, code {
	background: rgba(var(--color-font), .025);
	border-radius: var(--radius-medium);
	color: rgba(var(--color-font), 1);
	font-family: monospace;
	font-size: 1rem;
	user-select: text;
}

pre > code {
	background: none;
}

pre {
	border: 1px solid rgba(var(--color-font), .1);
	line-height: 1.4;
	margin: 1.25rem 0 0;
	overflow: auto;
	padding: 0.8rem 1.25rem;
}

pre::before {
	color: rgba(var(--color-font), var(--opacity-subtext));
	content: attr(language);
	display: block;
	font-size: 0.875rem;
	font-weight: 600;
	margin-bottom: 0.8rem;
}

pre:not([language])::before {
	display: none;
}

:not(pre) > code {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-small);
	padding: 0 5px 1px;
}

pre::selection, code::selection {
	background-color: rgba(var(--color-font), .15);
	color: rgba(var(--color-font), .8);
}

pre[class*='accent-'], code[class*='accent-'] {
	background: rgba(var(--color-accent), .05);
}

pre[class*='accent-']::before, code[class*='accent-']::before {
	color: rgba(var(--color-accent), 1);
}

pre > .code-comment, code > .code-comment {
	opacity: var(--opacity-subtext);
}

info[class*='accent-'] pre, pre[class*='accent-'] {
	border-color: rgba(var(--color-accent), .35);
}

info code, info pre {
	background: rgba(var(--color-card), 1);
}

/* ---------------------- */
/* Cards */

.card > content.scrollable {
	padding: 1.25rem 0.5rem;
}

.card > heading + content {
	padding-top: 0;
}

.card > heading + content.scrollable {
	padding-top: 0;
}

.card > content > content-scroller {
	padding: 0 0.75rem;
	display: block;
	overflow-y: auto;
}

.card > content > content-scroller.h100 {
	max-height: 100px;
}

.card > content > content-scroller.h150 {
	max-height: 150px;
}

.card > content > content-scroller.h200 {
	max-height: 200px;
}

.card > content > content-scroller.h250 {
	max-height: 250px;
}

.card > content > content-scroller.h300 {
	max-height: 300px;
}

.card > content > content-scroller.h350 {
	max-height: 350px;
}

.card > content > content-scroller.h400 {
	max-height: 400px;
}

.card > content > :first-child {
	margin-top: 0;
}

.card > content > placeholder {
	border-radius: var(--radius-medium);
}

.card > content > content-scroller > placeholder {
	border-radius: var(--radius-medium);
}

.card > actions {
	background: rgba(var(--color-font), .025);
	border-top: 1px solid rgba(var(--color-font), 0.045);
	border-bottom: 1px solid rgba(var(--color-font), 0.045);
	padding: 0.8rem 1.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

/* ---------------------- */
/* Identities */

identity > avatar {
	position: relative;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
}

identity.online > avatar::after,
identity.offline > avatar::after {
	content: '';
	position: absolute;
	bottom: -2px;
	right: -2px;
	width: 12px;
	height: 12px;
	border-radius: var(--radius-infinite);
	border: 2px solid rgba(var(--color-card), 1);
}

identity.online > avatar::after {
	background-color: rgb(80, 184, 60);
}

identity.offline > avatar::after {
	background-color: rgb(222, 54, 24);
}

/* ---------------------- */
/* Helpers */

.throttled {
	pointer-events: none;
	opacity: 0.65;
}

/* ---------------------- */
/* Keyframes */

@keyframes progress-bar {
	0% {
		width: 0;
	}
	25% {
		width: 100%;
	}
	50% {
		left: auto;
		right: 0;
	}
	75% {
		width: 0;
	}
	100% {
		display: none;
	}
}

/* ---------------------- */
/* Media Queries */

@media screen and (max-width: 1100px) {
	iframe.youtube {
		height: 300px;
	}
}

@media screen and (max-width: 800px) {
	iframe.youtube {
		height: 250px;
	}
}

@media screen and (max-width: 400px) {
	iframe.youtube {
		height: 200px;
	}
}

/* ---------------------- */
/* Reduced Motion */

@media (prefers-reduced-motion) {
	@keyframes progress-bar {
		0% {
			width: 100%;
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			width: 100%;
			opacity: 0;
		}
	}

	toast {
		transition: transform 0s linear;
	}

	.input-toggle > toggle::after {
		transition: all 0s ease;
	}
}