iframe {
	border: none;
}

iframe.youtube {
	width: 100%;
	height: 410px;
	margin: 1.4em 0;
	border-radius: var(--radius-standard);
}

/* ---------------------- */
/* Typography */

cite, em {
	color: rgba(var(--color-font), 1);
	font-variation-settings: 'wght' 250, 'ital' 100;
	font-weight: 250;
}

sub {
	font-size: .7em;
	position: relative;
	top: 0;
}

sup {
	font-size: .7em;
	position: relative;
	top: -.1em;
}

kbd {
	background: rgba(var(--color-font), 0.5);
	border-radius: var(--radius-small);
	color: rgba(var(--color-light), 1);
	font-family: monospace;
	font-size: 0.9em;
	font-weight: 600;
	margin: 0 1px;
	padding: 1px 6px;
}

mark {
	background: rgba(var(--color-font), .15);
	border-radius: var(--radius-small);
	color: rgba(var(--color-font), 1);
	font-size: 1em;
	padding: 0 0.15em;
}

mark[class*='accent-'] {
	background: rgba(var(--color-accent), .25);
}

/* ---------------------- */
/* Filters */

table-filters {
	background: rgba(var(--color-font), .025);
	display: block;
	padding: 1rem 1.25rem;
	overflow-x: auto;
}

table-filters > form, table-filters {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	row-gap: 10px;
	align-items: flex-end;
}

table-filters input-group {
	width: auto;
	min-width: 150px;
}

table-filters input, table-filters select {
	height: 34px;
	padding: 0 10px;
}

table-filters button, table-filters .button {
	height: 36px;
	margin: 0 5px 0 0;
}

table-filters + table {
	border-top: 1px solid rgba(var(--color-font), 0.05);
}

/* ---------------------- */
/* Inputs */

select option:disabled {
	color: rgba(var(--color-font), var(--opacity-subtext));
}

input[type='file'] {
	display: block;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 80%;
}

input[type='file'] + label {
	color: rgba(var(--color-font), 1);
	cursor: pointer;
	display: block;
	flex-grow: 1;
	font-size: 1rem;
	font-weight: 400;
	height: 2.75rem;
	line-height: 2.75rem;
	margin: 0;
	padding: 0 1rem;
}

/* ---------------------- */
/* Drawings */

.input-drawing {
	background: rgba(var(--color-input), 1);
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: all .12s ease;
}

.input-drawing:hover {
	border: 1px solid rgba(var(--color-font), .3);
}

.input-drawing + input-group {
	margin-top: 0.5rem;
}

.input-drawing > canvas {
	background: rgba(var(--color-card), 1);
}

.input-drawing > canvas.light {
	background: rgba(var(--color-light), 1);
}

.input-drawing > canvas-toolbar {
	border-top: 1px solid rgba(var(--color-font), .1);
	display: flex;
	column-gap: 12px;
	padding: 8px 12px;
}

.input-drawing > canvas-toolbar > input-group label {
	height: calc(2.4rem - 1px);
	line-height: calc(2.4rem - 1px);
}

.input-drawing > canvas-toolbar > .button {
	margin: 0;
}

/* ---------------------- */
/* Progress */

progress-group {
	display: block;
	height: auto;
	position: relative;
}

progress-group + progress-group, progress-group + split, split + progress-group {
	margin-top: 1.25rem;
}

progress-group span {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	color: rgba(var(--color-font), 1);
	font-size: 0.94rem;
	font-weight: 500;
	margin-bottom: 5px;
	position: relative;
	user-select: none;
}

progress-group span small {
	opacity: var(--opacity-subtext);
}

progress + span {
	margin-top: 5px;
	margin-bottom: 0;
}

progress {
	appearance: none;
	background: rgba(var(--color-font), .1);
	border: none;
	border-radius: var(--radius-medium);
	overflow: hidden;
	display: block;
	height: 0.5rem;
	margin: 0;
	position: relative;
	width: 100%;
}

progress:not([value]):after {
	animation: progress-bar 2.5s cubic-bezier(.56, 0, .56, 1) infinite;
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-medium);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

progress::-webkit-progress-bar {
	background: transparent;
}

progress::-webkit-progress-value {
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-medium);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
}

progress.muted::-webkit-progress-value {
	background: rgba(var(--color-font), .5);
	box-shadow: none;
}

/* ---------------------- */
/* Pagination */

pagination {
	display: flex;
	flex-direction: row;
	column-gap: 6px;
	user-select: none;
}

pagination a {
	color: rgba(var(--color-font), var(--opacity-subtext));
	border-radius: var(--radius-small);
	display: flex;
	align-items: center;
	height: 2.5em;
	font-size: 14px;
	text-decoration: none;
}

pagination a:not([tabindex='-1']) {
	background: rgba(var(--color-font), .05);
	padding: 0 10px;
	transition: all .12s ease;
	box-shadow: inset 0 0 0 2px rgba(var(--color-accent), 0);
}

pagination a.icon {
	padding: 0 4px;
}

pagination a:not([tabindex='-1']):hover {
	background: rgba(var(--color-font), .1);
	color: rgba(var(--color-font), 1);
}

pagination a:not([tabindex='-1']).active {
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-light), 1);
}

pagination a[disabled] {
	background: transparent;
}

/* ---------------------- */
/* Attachments */

.attachment {
	display: flex;
	padding: 12px 15px;
	border: 1px solid rgba(var(--color-font), .1);
	color: rgba(var(--color-font), 1);
	column-gap: 15px;
	flex-direction: row;
	border-top: none;
	transition: all .12s ease;
	width: 100%;
	text-decoration: none;
	align-items: center;
}

.attachment svg {
	flex: 0 0 1.625rem;
	opacity: var(--opacity-subtext);
	transition: all .12s ease;
}

.attachment span {
	flex-grow: 1;
	font-weight: 600;
	color: rgba(var(--color-font), 1);
	overflow: hidden;
	word-wrap: break-word;
	line-height: 26px;
	width: 100%;
}

.attachment:hover {
	background: rgba(var(--color-font), .025);
}

.attachment:hover svg {
	color: rgba(var(--color-accent), 1);
	opacity: 1;
}

.attachment:first-child {
	border-top: 1px solid rgba(var(--color-font), .1);
	border-top-left-radius: var(--radius-medium);
	border-top-right-radius: var(--radius-medium);
}

.attachment:last-child {
	border-bottom-left-radius: var(--radius-medium);
	border-bottom-right-radius: var(--radius-medium);
}

split .attachment {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
}

/* ---------------------- */
/* Codeblocks */

pre, code {
	background: rgba(var(--color-font), .025);
	border-radius: var(--radius-medium);
	color: rgba(var(--color-font), 1);
	font-family: monospace;
	font-size: 1rem;
	user-select: text;
}

pre > code {
	background: none;
}

pre {
	border: 1px solid rgba(var(--color-font), .1);
	line-height: 1.4;
	margin: 1.25rem 0 0;
	overflow: auto;
	padding: 0.8rem 1.25rem;
}

pre::before {
	color: rgba(var(--color-font), var(--opacity-subtext));
	content: attr(language);
	display: block;
	font-size: 0.875rem;
	font-weight: 600;
	margin-bottom: 0.8rem;
}

pre:not([language])::before {
	display: none;
}

:not(pre) > code {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-small);
	padding: 0 5px 1px;
}

pre::selection, code::selection {
	background-color: rgba(var(--color-font), .15);
	color: rgba(var(--color-font), .8);
}

pre > .code-comment, code > .code-comment {
	opacity: var(--opacity-subtext);
}

info code, info pre {
	background: rgba(var(--color-card), 1);
}

/* ---------------------- */
/* Cards */

.card > actions {
	background: rgba(var(--color-font), .025);
	border-top: 1px solid rgba(var(--color-font), 0.045);
	border-bottom: 1px solid rgba(var(--color-font), 0.045);
	padding: 0.8rem 1.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

/* ---------------------- */
/* Identities */

identity > avatar {
	position: relative;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
}

identity.online > avatar::after,
identity.offline > avatar::after {
	content: '';
	position: absolute;
	bottom: -2px;
	right: -2px;
	width: 12px;
	height: 12px;
	border-radius: var(--radius-infinite);
	border: 2px solid rgba(var(--color-card), 1);
}

identity.online > avatar::after {
	background-color: rgb(80, 184, 60);
}

identity.offline > avatar::after {
	background-color: rgb(222, 54, 24);
}

/* ---------------------- */
/* Helpers */

.throttled {
	pointer-events: none;
	opacity: 0.65;
}

/* ---------------------- */
/* Keyframes */

@keyframes progress-bar {
	0% {
		width: 0;
	}
	25% {
		width: 100%;
	}
	50% {
		left: auto;
		right: 0;
	}
	75% {
		width: 0;
	}
	100% {
		display: none;
	}
}

/* ---------------------- */
/* Media Queries */

@media screen and (max-width: 1100px) {
	iframe.youtube {
		height: 300px;
	}
}

@media screen and (max-width: 800px) {
	iframe.youtube {
		height: 250px;
	}
}

@media screen and (max-width: 400px) {
	iframe.youtube {
		height: 200px;
	}
}

/* ---------------------- */
/* Reduced Motion */

@media (prefers-reduced-motion) {
	@keyframes progress-bar {
		0% {
			width: 100%;
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			width: 100%;
			opacity: 0;
		}
	}
}