iframe {
	border: none;
}

iframe.youtube {
	width: 100%;
	height: 410px;
	margin: 1.4em 0;
	border-radius: var(--radius-standard);
}

/* ---------------------- */
/* Typography */

cite, em {
	color: rgba(var(--color-font), 1);
	font-variation-settings: 'wght' 250, 'ital' 100;
	font-weight: 250;
}

sub {
	font-size: .7em;
	position: relative;
	top: 0;
}

sup {
	font-size: .7em;
	position: relative;
	top: -.1em;
}

kbd {
	background: rgba(var(--color-font), 0.5);
	border-radius: var(--radius-small);
	color: rgba(var(--color-light), 1);
	font-family: monospace;
	font-size: 0.9em;
	font-weight: 600;
	margin: 0 1px;
	padding: 1px 6px;
}

/* ---------------------- */
/* Filters */

table-filters {
	background: rgba(var(--color-font), .025);
	display: block;
	padding: 1rem 1.25rem;
	overflow-x: auto;
}

table-filters > form, table-filters {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	row-gap: 10px;
	align-items: flex-end;
}

table-filters input-group {
	width: auto;
	min-width: 150px;
}

table-filters input, table-filters select {
	height: 34px;
	padding: 0 10px;
}

table-filters button, table-filters .button {
	height: 36px;
	margin: 0 5px 0 0;
}

table-filters + table {
	border-top: 1px solid rgba(var(--color-font), 0.05);
}

/* ---------------------- */
/* Drawings */

.input-drawing {
	background: rgba(var(--color-input), 1);
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: all .12s ease;
}

.input-drawing:hover {
	border: 1px solid rgba(var(--color-font), .3);
}

.input-drawing + input-group {
	margin-top: 0.5rem;
}

.input-drawing > canvas {
	background: rgba(var(--color-card), 1);
}

.input-drawing > canvas.light {
	background: rgba(var(--color-light), 1);
}

.input-drawing > canvas-toolbar {
	border-top: 1px solid rgba(var(--color-font), .1);
	display: flex;
	column-gap: 12px;
	padding: 8px 12px;
}

.input-drawing > canvas-toolbar > input-group label {
	height: calc(2.4rem - 1px);
	line-height: calc(2.4rem - 1px);
}

.input-drawing > canvas-toolbar > .button {
	margin: 0;
}

/* ---------------------- */
/* Progress */

progress-group {
	display: block;
	height: auto;
	position: relative;
}

progress-group + progress-group, progress-group + split, split + progress-group {
	margin-top: 1.25rem;
}

progress-group span {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	color: rgba(var(--color-font), 1);
	font-size: 0.94rem;
	font-weight: 500;
	margin-bottom: 5px;
	position: relative;
	user-select: none;
}

progress-group span small {
	opacity: var(--opacity-subtext);
}

progress + span {
	margin-top: 5px;
	margin-bottom: 0;
}

progress {
	appearance: none;
	background: rgba(var(--color-font), .1);
	border: none;
	border-radius: var(--radius-medium);
	overflow: hidden;
	display: block;
	height: 0.5rem;
	margin: 0;
	position: relative;
	width: 100%;
}

progress:not([value]):after {
	animation: progress-bar 2.5s cubic-bezier(.56, 0, .56, 1) infinite;
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-medium);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

progress::-webkit-progress-bar {
	background: transparent;
}

progress::-webkit-progress-value {
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-medium);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
}

progress.muted::-webkit-progress-value {
	background: rgba(var(--color-font), .5);
	box-shadow: none;
}

/* ---------------------- */
/* Cards */

.card > actions {
	background: rgba(var(--color-font), .025);
	border-top: 1px solid rgba(var(--color-font), 0.045);
	border-bottom: 1px solid rgba(var(--color-font), 0.045);
	padding: 0.8rem 1.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

/* ---------------------- */
/* Identities */

identity > avatar {
	position: relative;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
}

identity.online > avatar::after,
identity.offline > avatar::after {
	content: '';
	position: absolute;
	bottom: -2px;
	right: -2px;
	width: 12px;
	height: 12px;
	border-radius: var(--radius-infinite);
	border: 2px solid rgba(var(--color-card), 1);
}

identity.online > avatar::after {
	background-color: rgb(80, 184, 60);
}

identity.offline > avatar::after {
	background-color: rgb(222, 54, 24);
}

/* ---------------------- */
/* Keyframes */

@keyframes progress-bar {
	0% {
		width: 0;
	}
	25% {
		width: 100%;
	}
	50% {
		left: auto;
		right: 0;
	}
	75% {
		width: 0;
	}
	100% {
		display: none;
	}
}

/* ---------------------- */
/* Media Queries */

@media screen and (max-width: 1100px) {
	iframe.youtube {
		height: 300px;
	}
}

@media screen and (max-width: 800px) {
	iframe.youtube {
		height: 250px;
	}
}

@media screen and (max-width: 400px) {
	iframe.youtube {
		height: 200px;
	}
}

/* ---------------------- */
/* Reduced Motion */

@media (prefers-reduced-motion) {
	@keyframes progress-bar {
		0% {
			width: 100%;
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			width: 100%;
			opacity: 0;
		}
	}
}