@import "dependencies/spotlight.min.css";

@import "theming.css";

:root {
	-webkit-print-color-adjust: exact !important;
}

/* ---------------------- */
/* Fonts */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 1 1000;
	src: url('https://rovota.ams3.cdn.digitaloceanspaces.com/interface/fonts/Inter.ttf') format('truetype-variations');
}

/* ---------------------- */
/* Base */

html, body {
	background: rgba(var(--color-base), 1);
	color: rgba(var(--color-font), 1);
	font-size: var(--font-size-standard);
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

/* ---------------------- */
/* Shading */

shading {
	background: rgba(0, 0, 0, 0.3);
	width: 100dvw;
	height: 100dvh;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: all .3s ease;
	z-index: 10;
}

shading.visible {
	opacity: 1;
	pointer-events: all;
}

/* ---------------------- */
/* Scrolling */

scrollbutton {
	position: fixed;
	display: flex;
	bottom: 2rem;
	right: 2rem;
	width: 3.2rem;
	height: 3.2rem;
	opacity: 0;
	justify-content: center;
	align-items: center;
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-light), 1);
	transform: translateY(40px);
	border-radius: var(--radius-infinite);
	transition: all .15s ease;
	margin-top: -50px;
	cursor: pointer;
	z-index: 5;
	pointer-events: none;
}

scrollbutton.visible {
	transform: translateY(0px);
	pointer-events: auto;
	opacity: 1;
}

scrollbutton:hover {
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
	background: rgba(var(--color-accent-alt), 1);
}

/* ---------------------- */

iframe {
	border: none;
}

iframe.youtube {
	width: 100%;
	height: 410px;
	margin: 1.4em 0;
	border-radius: var(--radius-standard);
}

* {
	box-sizing: border-box;
	outline: rgba(var(--color-accent), 0) solid 0.18rem;
	-webkit-tap-highlight-color: transparent;
}

*:focus-visible {
	outline: rgba(var(--color-accent), 1) solid 0.18rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: rgba(var(--color-font), .2);
	border: 3px solid rgba(var(--color-base), 1);
	border-radius: var(--radius-standard);
	transition: all .12s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(var(--color-font), .4);
}

::selection {
	background-color: rgba(var(--color-accent-alt), 1);
	color: rgba(var(--color-light), 1);
}

[type]:-webkit-autofill::first-line {
	font-family: var(--font-family-standard), sans-serif !important;
	font-size: 16px;
}

[type]:-webkit-autofill {
	-webkit-text-fill-color: rgba(var(--color-autofill), 1);
}

svg.icon {
	height: 1.625rem;
	width: 1.625rem;
}

img {
	margin: 0;
	padding: 0;
	max-width: 100%;
	user-select: none;
}

/* ---------------------- */
/* Typography */

form {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	margin: 1.5rem 0 1.25rem 0;
}

h1 {
	font-size: 2rem; /* 32 */
	font-weight: 700;
}

h2 {
	font-size: 1.5rem; /* 24 */
	font-weight: 600;
}

h3 {
	font-size: 1.125rem; /* 18 */
	font-weight: 550;
}

h4 {
	font-size: 1rem; /* 16 */
	font-weight: 550;
}

h5 {
	font-size: 0.875rem; /* 14 */
	font-weight: 550;
}

hr {
	background: rgba(var(--color-font), .1);
	border: none;
	border-radius: var(--radius-small);
	height: 1px;
	margin: 1.25rem 0;
}

p, ul, ol {
	line-height: 1.55;
	margin: 1.25rem 0 0;
	vertical-align: baseline;
}

ul, ol {
	padding-inline-start: 1.25rem;
}

ul > ul, ul > ol, ol > ol, ol > ul {
	margin: 0.5rem 0;
}

ul > li, ol > li {
	margin: 0.3rem 0;
}

ul + li, ol + li {
	margin-top: 0.5rem;
}

a {
	color: rgba(var(--color-accent), 1);
	cursor: pointer;
	text-decoration: underline;
	transition: all .1s ease;
}


b, strong {
	font-weight: 600;
}

cite, em {
	color: rgba(var(--color-font), 1);
	font-variation-settings: 'wght' 250, 'ital' 100;
	font-weight: 250;
}

address {
	font-style: normal;
}

sub {
	font-size: .7em;
	position: relative;
	top: 0;
}

sup {
	font-size: .7em;
	position: relative;
	top: -.1em;
}

blockquote {
	color: rgba(var(--color-font), var(--opacity-standard));
	display: block;
	font-weight: 400;
	line-height: 1.5;
	margin: 1.25rem 0;
	padding: .3rem 0 .3rem 1.25rem;
	position: relative;
}

blockquote::before {
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-small);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 0.15rem;
}

blockquote[cite]::after {
	color: rgba(var(--color-font), 1);
	content: attr(cite);
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-top: 0.6rem;
}

kbd {
	background: rgba(var(--color-font), 0.5);
	border-radius: var(--radius-small);
	color: rgba(var(--color-light), 1);
	font-family: monospace;
	font-size: 0.9em;
	font-weight: 600;
	margin: 0 1px;
	padding: 1px 6px;
}

mark {
	background: rgba(var(--color-font), .15);
	border-radius: var(--radius-small);
	color: rgba(var(--color-font), 1);
	font-size: 1em;
	padding: 0 0.15em;
}

mark[class*='accent-'] {
	background: rgba(var(--color-accent), .25);
}

label, dl dt {
	color: rgba(var(--color-font), 1);
	display: block;
	font-size: 0.94rem;
	font-weight: 500;
	margin-bottom: 5px;
	position: relative;
	user-select: none;
}

dl {
	display: block;
	margin: 1.25rem 0 0;
	padding: 0;
	width: 100%;
}

dl dd {
	color: rgba(var(--color-font), var(--opacity-subtext));
	line-height: 1.55;
	margin-inline-start: 0;
}

/* ---------------------- */
/* Grids & Splits */

grid, gallery, split {
	clear: both;
	display: grid;
	grid-gap: 1.25rem;
	width: 100%;
}

grid, gallery {
	margin: 1.25rem 0 0;
}

grid:first-child, gallery:first-child {
	margin-top: 0;
}

grid:first-child, gallery:first-child {
	margin-top: 0;
}

grid.grid-2, gallery.grid-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

grid.grid-3, gallery.grid-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

grid.grid-4, gallery.grid-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

grid.grid-5, gallery.grid-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

grid.grid-6, gallery.grid-6 {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

grid.grid-auto, gallery.grid-auto {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

split {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* ---------------------- */
/* Images */

.image {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: var(--radius-medium);
	width: 100%;
	margin: 1.25rem 0 -0.2rem;
}

.image:first-child {
	margin-top: 0;
}

.image img {
	display: block;
	margin-bottom: -5px;
	width: 100%;
}

.image-left, .image-right {
	max-width: 35%;
}

.image-left {
	float: left;
	margin: 0 1.5em 1em 0;
}

.image-right {
	float: right;
	margin: 0 0 1em 1.5em;
}

.image.spotlight {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 4px rgba(var(--color-card), 1);
	transition: all .12s ease;
}

.image.spotlight:hover, .image.spotlight:focus-visible {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1),
	0 0 0 4px rgba(var(--color-accent), 1);
}

/* ---------------------- */
/* Gallery */

gallery > a, gallery > span {
	display: block;
	position: relative;
	padding-bottom: 66%;
	width: 100%;
	background: rgba(var(--color-base), 1);
	border-radius: var(--radius-medium);
	overflow: hidden;
}

gallery > a > img, gallery > span > img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

gallery > a[caption]::after, .image[caption]::after {
	content: attr(caption);
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(var(--color-dark), 1);
	color: rgba(var(--color-light), 1);
	padding: 0 15px;
	transition: .2s ease;
	font-size: 14px;
	transform: translateY(100%);
	height: 30px;
	line-height: 30px;
	text-align: center;
	box-sizing: border-box;
}

gallery > a[caption]:hover::after, .image[caption]:hover::after {
	transform: translateY(0);
}

gallery > a.spotlight {
	transition: all .2s ease;
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 4px rgba(var(--color-card), 1);
}

gallery > a.spotlight:hover, gallery > a.spotlight:focus-visible {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 4px rgba(var(--color-accent), 1);
}

gallery > a.spotlight {
	outline: none;
}

/* ---------------------- */
/* Tables */

table-scroller {
	display: block;
	margin: 1.25rem 0 0;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}

table {
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	margin: 1.25rem 0 0;
	width: 100%;
}

table.bordered, table-scroller.bordered {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
}

table-scroller > table {
	margin-top: 0;
}

table tbody tr:nth-child(2n + 1) {
	background: rgba(var(--color-font), .025);
}

table tbody tr[data-href] {
	cursor: pointer;
	transition: all .12s ease;
}

table tbody tr[data-href]:hover {
	background: rgba(var(--color-font), .05);
}

table thead th {
	border-bottom: 1px solid rgba(var(--color-font), 0.05);
	color: rgba(var(--color-font), var(--opacity-subtext));
	font-size: 0.94rem;
	font-weight: 500;
	padding: 0.75rem;
	text-align: left;
	white-space: nowrap;
	user-select: none;
}

table thead th.sortable {
	color: rgba(var(--color-font), var(--opacity-subtext));
	cursor: pointer;
}

table thead th.sortable:hover {
	text-decoration: underline;
}

table thead th.sortable.sorted {
	color: rgba(var(--color-font), 1);
}

table thead th.sortable.sorted::after {
	content: ' •';
}

table td {
	color: rgba(var(--color-font), 1);
	padding: 0.75rem;
	text-align: left;
}

table td small {
	color: rgba(var(--color-font), var(--opacity-subtext));
}

table tfoot tr td {
	background: none;
	border: none;
	border-top: 1px solid rgba(var(--color-font), .05);
	box-shadow: none;
	color: rgba(var(--color-font), var(--opacity-subtext));
	font-size: 0.94rem;
}

table th.th-actions, table td.td-actions {
	text-align: right;
}

table td.td-actions {
	display: flex;
	flex-direction: row;
	column-gap: 0.8rem;
	justify-content: flex-end;
}

table td.td-actions:has(.icon) {
	column-gap: 0.25rem;
	padding: 0.5rem 0.75rem;
}

table td.td-actions a {
	display: inline-block;
	text-decoration: none;
}

table td.td-actions a:hover {
	text-decoration: underline;
}

table td.td-actions a:has(svg) {
	background: rgba(var(--color-font), 0);
	border-radius: var(--radius-small);
	display: inline-flex;
	padding: 0.5rem;
}

table td.td-actions a:has(svg):hover {
	background: rgba(var(--color-font), .05);
}

table td.td-actions a:has(svg) svg {
	color: rgba(var(--color-font), 1);
	transition: all .12s ease;
}

table td.td-actions a:has(svg)[class*='accent-'] svg {
	color: rgba(var(--color-accent), 1);
}

table td.td-actions button {
	margin: 0 0 -2px 10px;
	vertical-align: middle;
}

table td.td-avatar {
	width: 70px;
}

table td.td-avatar img {
	border-radius: var(--radius-infinite);
	height: 32px;
	margin-bottom: -5px;
	min-height: 32px;
	min-width: 32px;
	object-fit: cover;
	width: 32px;
}

table td.td-image img {
	border-radius: var(--radius-small);
	margin-bottom: -5px;
	max-width: 70px;
	object-fit: cover;
}

table td.td-image.medium-wide img {
	width: 70px;
	height: 40px;
}

table td.td-image.medium-regular img {
	width: 54px;
	height: 40px;
}

table td.td-image.medium-square img {
	width: 40px;
	height: 40px;
}

table td.td-image.small-wide img {
	width: 54px;
	height: 30px;
}

table td.td-image.small-regular img {
	width: 40px;
	height: 30px;
}

table td.td-image.small-square img {
	width: 30px;
	height: 30px;
}

table.datalist {
	max-width: 100%;
}

table.datalist tbody tr {
	background: none;
}

table.datalist tbody tr td {
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1px solid rgba(var(--color-font), .05);
}

table.datalist tbody tr:first-child td {
	border-top: none;
}

table.datalist tbody tr td:first-child, table.datalist tbody tr td:nth-child(3) {
	color: rgba(var(--color-font), var(--opacity-subtext));
	white-space: nowrap;
	padding-right: 40px;
}

table.datalist tbody tr td:last-child {
	width: 100%;
}

table.datalist tbody tr td > :first-child {
	margin-top: 0;
}

/* ---------------------- */
/* Filters */

table-filters {
	background: rgba(var(--color-font), .025);
	display: block;
	padding: 1rem 1.25rem;
	overflow-x: auto;
}

table-filters > form, table-filters {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	row-gap: 10px;
	align-items: flex-end;
}

table-filters input-group {
	width: auto;
	min-width: 150px;
}

table-filters input, table-filters select {
	height: 34px;
	padding: 0 10px;
}

table-filters button, table-filters .button {
	height: 36px;
	margin: 0 5px 0 0;
}

table-filters + table {
	border-top: 1px solid rgba(var(--color-font), 0.05);
}

/* ---------------------- */
/* Inputs */

[disabled] {
	pointer-events: none;
	opacity: var(--opacity-subtext);
}

input, textarea, select {
	border: none;
	color: rgba(var(--color-font), 1);
	display: block;
	font-size: 1rem;
	height: 2.75rem;
	line-height: 1.5rem;
	margin: 0;
	outline: none;
	position: relative;
}

textarea {
	height: auto;
	line-height: normal;
	min-height: 100px;
	padding: 0.8rem 1rem;
	resize: vertical;
}

select option:disabled {
	color: rgba(var(--color-font), var(--opacity-subtext));
}

input::placeholder, textarea::placeholder, select::placeholder {
	color: rgba(var(--color-font), 0.5);
}

input:invalid:not(:focus), textarea:invalid:not(:focus), textarea:invalid:not(:focus) {
	color: rgba(var(--color-danger), 1);
}

input[type='file'] {
	display: block;
	height: 2px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 80%;
}

input[type='file'] + label {
	color: rgba(var(--color-font), 1);
	cursor: pointer;
	display: block;
	flex-grow: 1;
	font-size: 1rem;
	font-weight: 400;
	height: 2.75rem;
	line-height: 2.75rem;
	margin: 0;
	padding: 0 1rem;
}

input[type='range'] {
	appearance: none;
	background: rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	height: 0.375rem;
	outline: none;
	transition: all .12s ease;
}

input[type='range']:hover {
	background: rgba(var(--color-font), .2);
}

input[type='range']:focus-visible {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 4px rgba(var(--color-accent), 1);
}

input[type='range']::-webkit-slider-thumb {
	appearance: none;
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-infinite);
	height: 14px;
	transition: all .12s ease;
	width: 14px;
}

input[type='range']::-webkit-slider-thumb:hover {
	transform: scale(1.2);
}

input[type='range']:focus-visible::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 4px rgba(var(--color-accent), 1);
}

input[type='range']:disabled {
	cursor: not-allowed;
	opacity: var(--opacity-disabled);
}

input[type='checkbox'] {
	height: auto;
}

/* ---------------------- */
/* Input-groups */

input-group {
	display: inline-block;
	position: relative;
	width: 100%;
}

input-group + input-group:not(table-filters input-group), input-group + split, split + input-group {
	margin-top: 1.25rem;
}

input-group > label > small {
	color: rgba(var(--color-danger), 1);
	margin-left: 4px;
}

input-box:not(:has(> .masked)) {
	background: rgba(var(--color-input), 1);
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	color: rgba(var(--color-font), 1);
	display: flex;
	flex-direction: row;
	overflow: hidden;
	transition: all .12s ease;
}

input-box:not(:has(> .masked)):hover {
	border: 1px solid rgba(var(--color-font), .3);
}

input-box:not(:has(> .masked)):has([disabled]):hover {
	border: 1px solid rgba(var(--color-font), .1);
}

input-box:not(:has(> .masked)).has-error {
	border: 1px solid rgba(var(--color-danger), 1);
}

input-box:not(:has(> .masked)):focus-within {
	background: rgba(var(--color-card), 1);
	border: 1px solid rgba(var(--color-accent), 1);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
	color: rgba(var(--color-accent), 1);
	--color-input: var(--color-card);
}

input-box > input-icon {
	align-items: center;
	display: flex;
	opacity: var(--opacity-subtext);
	padding-left: 0.8rem;
	transition: all .12s ease;
}

input-box > input-icon > svg {
	transform: scale(0.9);
}

input-box > input + input-icon {
	padding-right: 0.8rem;
}

input-box:focus-within > input-icon {
	color: rgba(var(--color-accent), 1);
	opacity: 1;
}

input-box > input-icon.capslock:not(.visible) {
	display: none;
}

input-box > input-prefix, input-box > input-suffix {
	align-items: center;
	color: rgba(var(--color-font), var(--opacity-subtext));
	display: flex;
	height: 2.75rem;
	padding: 0 1rem;
	transition: all .12s ease;
	white-space: nowrap;
}

input-box > input-prefix {
	border-right: 1px solid rgba(var(--color-font), .1);
}

input-box > input-suffix {
	border-left: 1px solid rgba(var(--color-font), .1);
}

input-box > input-prefix.subtle {
	border: none;
	padding-right: 0;
}

input-box > input-prefix.subtle + * {
	padding-left: 0;
}

input-box > input, input-box > textarea, input-box > select {
	background: rgba(var(--color-input), 1);
	flex-grow: 1;
	padding: 0 1rem;
	transition: all .12s ease;
	width: 100%;
}

input-box > textarea {
	padding: 0.8rem 1rem;
}

input-box > select {
	width: auto;
}

input-box > select:not(:only-child):first-child {
	border-right: 1px solid rgba(var(--color-font), .1);
}

input-box > select:not(:only-child):last-child {
	border-left: 1px solid rgba(var(--color-font), .1);
}

input-box > :focus-visible {
	box-shadow: none;
	outline: none;
}

.split > input-box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1.25rem;
}

.split > label + input-box:has(> .masked) .input-choice:first-child {
	margin-top: 0.6rem;
}

input-note {
	color: rgba(var(--color-font), var(--opacity-subtext));
	user-select: none;
	display: block;
	font-size: 0.875rem;
	margin-top: 5px;
}

input-note > span {
	color: rgba(var(--color-accent), 1);
}

input-errors {
	color: rgba(var(--color-danger), 1);
	user-select: none;
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	margin-top: 5px;
	row-gap: 5px;
}

input-errors > span:not(:only-child)::before {
	content: '• ';
}

input-box:has(> .masked) + input-note, input-box:has(> .masked) + input-errors {
	margin-top: 1rem;
}

input-box:has(> .masked) > label {
	margin-bottom: 0;
}

input-box:has(> .masked) > label > input {
	position: absolute;
	opacity: 0 !important;
	width: 2px;
	height: 2px;
}

/* ---------------------- */
/* Checkbox & Radio */

input[type='radio'] + indicator, input[type='checkbox'] + indicator {
	box-shadow: inset 0 0 0 1px rgba(var(--color-font), .2);
	display: block;
	flex: 0 0 1.125rem;
	height: 1.125rem;
	position: relative;
	transition: all .2s ease;
	width: 1.125rem;
}

input:focus-visible + indicator {
	box-shadow: inset 0 0 0 1px rgba(var(--color-accent), 1), 0 3px 5px 0 rgba(var(--color-accent-alt), 0.15);
}

input[type='checkbox'] + indicator {
	border-radius: var(--radius-small);
}

input[type="checkbox"] + indicator::after {
	border-bottom: 2px solid rgba(var(--color-card), 1);
	border-right: 2px solid rgba(var(--color-card), 1);
	content: '';
	height: 9px;
	left: 6px;
	position: absolute;
	top: 2px;
	transform: rotate(45deg) scale(0);
	transition: all .2s ease;
	width: 4px;
}

input[type="checkbox"]:checked + indicator {
	box-shadow: inset 0 0 0 20px rgba(var(--color-accent), 1);
}

input[type="checkbox"]:checked:focus-visible + indicator {
	box-shadow: inset 0 0 0 20px rgba(var(--color-accent), 1), 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 3px rgba(var(--color-accent), 1);
}

input[type="checkbox"]:checked + indicator::after {
	transform: rotate(45deg) scale(1);
}

input[type='radio'] + indicator {
	border-radius: 100%;
}

input[type="radio"]:checked + indicator {
	box-shadow: inset 0 0 0 5px rgba(var(--color-accent), 1);
}

input[type="radio"]:checked:focus-visible + indicator {
	box-shadow: inset 0 0 0 5px rgba(var(--color-accent), 1), 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 3px rgba(var(--color-accent), 1);
}

/* ---------------------- */
/* Toggles */

.input-toggle {
	align-items: center;
	column-gap: 1.25rem;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

.input-toggle:has(:disabled) {
	cursor: not-allowed;
	opacity: var(--opacity-subtext);
}

.input-toggle + .input-toggle {
	border-top: 1px solid rgba(var(--color-font), .07);
	margin-top: 1.1rem;
	padding-top: 1.1rem;
}

.input-toggle > content {
	display: block;
	flex-grow: 1;
	user-select: none;
}

.input-toggle > content > span {
	display: block;
}

.input-toggle > content > p {
	color: rgba(var(--color-font), var(--opacity-subtext));
	display: block;
	font-weight: 400;
	margin: 0.4rem 0 0;
}

.input-toggle > toggle {
	background: rgba(var(--color-font), .1);
	border-radius: var(--radius-toggle);
	display: block;
	flex: 0 0 2.375rem;
	height: 1.2rem;
	position: relative;
	transition: all .12s ease;
	width: 2.5rem;
}

.input-toggle:has(:focus-visible) > toggle {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 4px rgba(var(--color-accent), 1);
}

.input-toggle > toggle::after {
	background: rgba(255, 255, 255, 1);
	border-radius: var(--radius-toggle);
	content: '';
	display: block;
	height: 0.8rem;
	left: 0.2rem;
	position: absolute;
	top: 0.2rem;
	transform: translateX(0px);
	transition: all .3s ease;
	width: 0.8rem;
}

.input-toggle:active > toggle {
	background: rgba(var(--color-accent), .3);
}

.input-toggle:active > toggle::after {
	height: 0.7rem;
	left: 0.25rem;
	top: 0.25rem;
	width: 1rem;
}

.input-toggle > :checked + content + toggle {
	background: rgba(var(--color-accent), 1);
}

.input-toggle > :checked + content + toggle::after {
	transform: translateX(1.15rem);
}

.input-toggle:active > :checked + content + toggle {
	background: rgba(var(--color-accent), .7);
}

.input-toggle:active > :checked + content + toggle::after {
	transform: translateX(0.85rem);
}

/* ---------------------- */
/* Choices */

.input-choice {
	align-items: flex-start;
	column-gap: 0.8rem;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

.input-choice:has(:disabled) {
	cursor: not-allowed;
	opacity: var(--opacity-subtext);
}

label + input-box:has(> .masked) .input-choice:first-child {
	margin-top: 0.8rem;
}

.input-choice + .input-choice {
	margin-top: 0.6rem;
}

.input-choice > content {
	user-select: none;
	display: block;
	flex-grow: 1;
}

.input-choice:has(:disabled) > indicator {
	filter: grayscale(100%);
}

/* ---------------------- */
/* Panels & Swatches */

.input-panel {
	border: 2px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	column-gap: 0.8rem;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	transition: all .2s ease;
}

.input-panel:hover {
	border: 2px solid rgba(var(--color-font), .3);
}

.input-panel:has(:checked) {
	border: 2px solid rgba(var(--color-accent), 1);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
	color: rgba(var(--color-accent), 1);
}

.input-panel[type='radio']:has(:checked) {
	pointer-events: none;
}

.input-panel:has(:disabled) {
	cursor: not-allowed;
	opacity: var(--opacity-subtext);
}

label + input-box:has(> .masked) .input-panel:first-child {
	margin-top: 0.8rem;
}

.input-panel + .input-panel {
	margin-top: 0.6rem;
}

.input-panel > content {
	user-select: none;
	display: block;
	flex-grow: 1;
}

.input-panel > content > span > small {
	color: rgba(var(--color-accent), 1);
	margin-left: 0.5em;
}

.input-panel > content > span + p {
	color: rgba(var(--color-font), var(--opacity-subtext));
	margin-top: 0.6rem;
}

input-box:has(> .input-swatch) {
	display: grid;
	grid-gap: 0.6rem;
	grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
	width: 100%;
}

label + input-box:has(> .input-swatch) {
	margin-top: 0.8rem;
}

.input-swatch {
	width: auto;
	height: 2.5rem;
	background: rgba(var(--color-accent), 1);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius-medium);
	transition: all .2s ease;
}

.input-swatch > input {
	pointer-events: none;
}

.input-swatch:has(:focus-visible) {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 4px rgba(var(--color-accent), 1);
}

.input-swatch:hover {
	background: rgba(var(--color-accent-alt), 1);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
	cursor: pointer;
}

.input-swatch:has(:checked) {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1),
	0 0 0 4px rgba(var(--color-accent), 1);
}

.input-swatch checkmark {
	border-bottom: 2px solid rgba(var(--color-light), 1);
	border-right: 2px solid rgba(var(--color-light), 1);
	content: '';
	height: 14px;
	transform: rotate(45deg) scale(.3) translate(-20%, -12%);
	transition: all .12s ease;
	opacity: 0;
	width: 7px;
	filter: drop-shadow(1px 1px 2px rgba(var(--color-dark), .1));
}

.input-swatch:has(:checked) checkmark {
	transform: rotate(45deg) scale(1.4) translate(-20%, -12%);
	opacity: 1;
}

input-box:has(> .input-theme) {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
	width: 100%;
}

.input-theme {
	border: 2px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	cursor: pointer;
	transition: all .2s ease;
	padding: 3px;
}

.input-theme:hover {
	border: 2px solid rgba(var(--color-font), .3);
}

.input-theme:has(:checked) {
	background: rgba(var(--color-accent), 1);
	border: 2px solid rgba(var(--color-accent), 1);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
	color: rgba(var(--color-light), 1);
	pointer-events: none;
}

.input-theme:has(:disabled) {
	cursor: not-allowed;
	opacity: var(--opacity-subtext);
}

.input-theme > content {
	user-select: none;
	display: block;
	flex-grow: 1;
}

.input-theme > content > img {
	border-radius: var(--radius-small);
	width: calc(100% - 0px);
	object-fit: cover;
}

.input-theme > content > span {
	display: inline-block;
	padding: 3px 10px 5px;
}

/* ---------------------- */
/* Range */

input-box:has(> .input-range) {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 2.75rem;
}

input-box:has(> .input-range.minimal) {
	height: 1.5rem;
}

input-box:has(> .input-range) > input-prefix {
	color: rgba(var(--color-font), var(--opacity-subtext));
	border: none;
	font-weight: 400;
	width: 2.6rem;
	height: 100%;
	padding: 0;
}

input-box:has(> .input-range) > input-prefix + input {
	margin-left: 0.5rem;
}

input-box:has(> .input-range) > input {
	flex-grow: 1;
}

/* ---------------------- */
/* Drawings */

.input-drawing {
	background: rgba(var(--color-input), 1);
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: all .12s ease;
}

.input-drawing:hover {
	border: 1px solid rgba(var(--color-font), .3);
}

.input-drawing + input-group {
	margin-top: 0.5rem;
}

.input-drawing > canvas {
	background: rgba(var(--color-card), 1);
}

.input-drawing > canvas.light {
	background: rgba(var(--color-light), 1);
}

.input-drawing > canvas-toolbar {
	border-top: 1px solid rgba(var(--color-font), .1);
	display: flex;
	column-gap: 12px;
	padding: 8px 12px;
}

.input-drawing > canvas-toolbar > input-group label {
	height: calc(2.4rem - 1px);
	line-height: calc(2.4rem - 1px);
}

.input-drawing > canvas-toolbar > .button {
	margin: 0;
}

/* ---------------------- */
/* Accordion */

accordion {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 1.25rem 0 0;
}

accordion.borderless {
	border: none;
}

accordion > details {
	overflow: hidden;
}

accordion > details:first-child {
	border-top-left-radius: var(--radius-medium);
	border-top-right-radius: var(--radius-medium);
}

accordion > details:last-child {
	border-bottom-left-radius: var(--radius-medium);
	border-bottom-right-radius: var(--radius-medium);
}

accordion.borderless > details {
	border-radius: 0;
}

accordion > details:not(:first-child) {
	border-top: 1px solid rgba(var(--color-font), 0.1);
}

accordion > details > summary {
	padding: 12px 14px;
	font-size: 16px;
	cursor: pointer;
	transition: all .12s ease;
	user-select: none;
}

accordion > details > summary:hover {
	color: rgba(var(--color-accent), 1);
}

accordion > details[open] > summary {
	background: rgba(var(--color-font), .035);
}

accordion > details > details-content {
	padding: 16px 20px;
	display: block;
}

accordion > details > details-content :first-child {
	margin-top: 0;
}

content.minimal > accordion > details > summary {
	padding: 0.8rem 1.25rem;
}

content.minimal > accordion > details > details-content {
	padding: 1rem 1.25rem;
}

/* ---------------------- */
/* Info Panels */

info {
	background: rgba(var(--color-font), 0.05);
	border-radius: var(--radius-medium);
	color: rgba(var(--color-font), 1);
	display: block;
	margin: 1.25rem 0 0;
	overflow: hidden;
	padding: 0.8rem 1.25rem;
	position: relative;
}

info::before {
	color: rgba(var(--color-font), 1);
	content: attr(caption);
	display: block;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 0.8rem;
}

info:not([caption])::before {
	display: none;
}

info::after {
	background: rgba(var(--color-font), 1);
	border-radius: 0 var(--radius-medium) var(--radius-medium) 0;
	content: '';
	display: block;
	height: calc(100% - 1.6rem);
	left: 0;
	position: absolute;
	top: 0.8rem;
	width: 2px;
}

info[class*='accent-'] {
	background: rgba(var(--color-accent), .1);
}

info[class*='accent-']::before {
	color: rgba(var(--color-accent), 1);
}

info[class*='accent-']::after {
	background: rgba(var(--color-accent), 1);
}

/* ---------------------- */
/* Notices */

notice {
	align-items: center;
	background: rgba(var(--color-accent), .15);
	border: 1px solid rgba(var(--color-accent), .4);
	border-radius: var(--radius-medium);
	color: rgba(var(--color-font), 1);
	column-gap: 1rem;
	display: flex;
	flex-direction: row;
	padding: 0.6rem 1rem;
	user-select: none;
}

notice > svg {
	color: rgba(var(--color-accent), 1);
	flex: 0 0 1.625rem;
}

notice > content {
	flex-grow: 1;
	line-height: 1.4;
}

notice > a {
	white-space: nowrap;
}

/* ---------------------- */
/* Badges & Dots */

badge {
	background: rgba(var(--color-font), .07);
	border-radius: var(--radius-small);
	color: rgba(var(--color-font), .7);
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 500;
	padding: 0.3em 0.45em;
	position: relative;
	white-space: nowrap;
	user-select: none;
}

badge[class*='accent-'] {
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-light), 1);
}

badge.subtle {
	background: transparent;
	color: rgba(var(--color-font), var(--opacity-subtext));
	font-weight: 600;
	line-height: 1;
	padding: 0.2em 0 0.2em 1rem;
}

badge.subtle::before {
	background: rgba(var(--color-font), .3);
	border-radius: var(--radius-infinite);
	content: '';
	height: 0.625rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.625rem;
}

badge.subtle[class*='accent-'] {
	color: rgba(var(--color-accent), 1);
}

badge.subtle[class*='accent-']::before {
	background: rgba(var(--color-accent), 1);
}

dot {
	background: rgba(var(--color-font), .3);
	border-radius: var(--radius-infinite);
	display: inline-block;
	height: 0.625rem;
	width: 0.625rem;
}

dot[class*='accent-'] {
	background: rgba(var(--color-accent), 1);
}

/* ---------------------- */
/* Buttons */

button, .button {
	align-items: center;
	background: rgba(var(--color-font), .05);
	border: none;
	border-radius: var(--radius-medium);
	color: rgba(var(--color-font), 1);
	cursor: pointer;
	display: inline-flex;
	font-size: 1rem;
	font-weight: 500;
	height: 2.4rem;
	padding: 0 1.25rem;
	text-decoration: none;
	transition: all .12s ease;
	white-space: nowrap;
	column-gap: 0.6rem;
	user-select: none;
}

button:has(svg:first-child:not(:only-child)), .button:has(svg:first-child:not(:only-child)) {
	padding-left: 0.8rem;
}

button:has(svg:last-child:not(:only-child)), .button:has(svg:last-child:not(:only-child)) {
	padding-right: 0.8rem;
}

button:hover, .button:hover {
	background: rgba(var(--color-font), .1);
	box-shadow: 0 3px 6px 0 rgba(var(--color-dark), .05);
}

button:focus-visible, .button:focus-visible {
	box-shadow: 0 0 0 2px rgba(var(--color-card), 1), 0 0 0 4px rgba(var(--color-accent), 1);
	outline: none;
}

.below-threshold button, .below-threshold .button {
	color: rgba(var(--color-light), 1);
	background: rgba(var(--color-light), .15);
}

.below-threshold button:hover, .below-threshold .button:hover {
	color: rgba(var(--color-light), 1);
	background: rgba(var(--color-light), .25);
}

button[class*='accent-'], .button[class*='accent-'] {
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-light), 1);
}

button[class*='accent-']:hover, .button[class*='accent-']:hover {
	background: rgba(var(--color-accent-alt), 1);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
}

button.outlined, .button.outlined {
	background: rgba(var(--color-card), 0);
	border: 2px solid rgba(var(--color-font), .1);
	color: rgba(var(--color-font), 1);
}

button.outlined:hover, .button.outlined:hover {
	border: 2px solid rgba(var(--color-font), .2);
	box-shadow: 0 3px 6px 0 rgba(var(--color-dark), .05);
}

button.outlined[class*='accent-'], .button[class*='accent-'].outlined {
	background: rgba(var(--color-card), 0);
	border: 2px solid rgba(var(--color-accent), 1);
	color: rgba(var(--color-accent), 1);
}

button.outlined[class*='accent-']:hover, .button[class*='accent-'].outlined:hover {
	border: 2px solid rgba(var(--color-accent-alt), 1);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
}

button.minimal, .button.minimal {
	background: transparent;
	color: rgba(var(--color-font), 1);
	padding: 0;
}

button.minimal:hover, .button.minimal:hover {
	box-shadow: none;
	color: rgba(var(--color-accent), 1);
	text-decoration: underline;
}

button.minimal[class*='accent-'], .button.minimal[class*='accent-'] {
	background: transparent;
	color: rgba(var(--color-accent), 1);
}

button.large, .button.large {
	border-radius: var(--radius-standard);
	height: 3rem;
	font-size: 1.1rem;
}

button:has(svg), .button:has(svg) {
	padding: 0 0.45rem;
}

td button.minimal, td .button.minimal {
	height: auto;
	padding: 0;
}

td button:has(svg), td .button:has(svg) {
	height: auto;
	padding: 0;
}

button:disabled, .button[disabled] {
	opacity: var(--opacity-disabled);
	pointer-events: none;
}

/*[class*='accent-'] > button, [class*='accent-'] > .button {*/
/*	background: rgba(var(--color-light), .1);*/
/*	color: rgba(var(--color-light), 1);*/
/*}*/

/*[class*='accent-'] > button:hover, [class*='accent-'] > .button:hover {*/
/*	background: rgba(var(--color-light), .2);*/
/*	color: rgba(var(--color-light), 1);*/
/*}*/

[class*='accent-'] > button.outlined, [class*='accent-'] > .button.outlined {
	background: rgba(var(--color-card), 0);
	border: 2px solid rgba(var(--color-light), .2);
}

[class*='accent-'] > button.outlined:hover, [class*='accent-'] > .button.outlined:hover {
	border: 2px solid rgba(var(--color-light), .4);
	box-shadow: 0 3px 6px 0 rgba(var(--color-dark), .05);
}

[class*='accent-'] > button.minimal, [class*='accent-'] > .button.minimal {
	background: transparent;
}

button-group {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1.25rem;
}

button-group > * {
	justify-content: center;
	flex-grow: 1;
}

/* ---------------------- */
/* Progress */

progress-group {
	display: block;
	height: auto;
	position: relative;
}

progress-group + progress-group, progress-group + split, split + progress-group {
	margin-top: 1.25rem;
}

progress-group span {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	color: rgba(var(--color-font), 1);
	font-size: 0.94rem;
	font-weight: 500;
	margin-bottom: 5px;
	position: relative;
	user-select: none;
}

progress-group span small {
	opacity: var(--opacity-subtext);
}

progress + span {
	margin-top: 5px;
	margin-bottom: 0;
}

progress {
	appearance: none;
	background: rgba(var(--color-font), .1);
	border: none;
	border-radius: var(--radius-medium);
	overflow: hidden;
	display: block;
	height: 0.5rem;
	margin: 0;
	position: relative;
	width: 100%;
}

progress:not([value]):after {
	animation: progress-bar 2.5s cubic-bezier(.56, 0, .56, 1) infinite;
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-medium);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

progress::-webkit-progress-bar {
	background: transparent;
}

progress::-webkit-progress-value {
	background: rgba(var(--color-accent), 1);
	border-radius: var(--radius-medium);
	box-shadow: 0 3px 6px 0 rgba(var(--color-accent), .2);
}

progress.muted::-webkit-progress-value {
	background: rgba(var(--color-font), .5);
	box-shadow: none;
}

spinner {
	display: block;
	width: 40px;
	height: 40px;
	border: 3px solid rgba(var(--color-font), .1);
	border-top: 3px solid rgba(var(--color-accent), 1);
	border-radius: 50%;
	animation: spinner .8s linear infinite;
}

spinner.double {
	border-bottom: 3px solid rgba(var(--color-accent), 1);
}

/* ---------------------- */
/* Toasts */

toast {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: rgba(var(--color-card), 1);
	border: 1px solid rgba(var(--color-font), .1);
	box-shadow: 0 4px 20px 0 rgba(var(--color-dark), .1);
	border-radius: var(--radius-standard);
	color: rgba(var(--color-font), 1);
	pointer-events: none;
	position: fixed;
	top: 30px;
	left: 10px;
	right: 10px;
	width: fit-content;
	height: fit-content;
	margin: auto;
	transform: translateY(-100%);
	opacity: 0;
	transition: all .3s ease;
	padding: 0.8rem 1.5rem;
	z-index: 14;
}

toast > svg {
	flex-shrink: 0;
}

toast > span {
	line-height: 1.4;
}

toast[class*='accent-'] {
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-light), 1);
}

toast.visible {
	transform: translateY(0);
	opacity: 1;
}

/* ---------------------- */
/* Pagination */

pagination {
	display: flex;
	flex-direction: row;
	column-gap: 6px;
	user-select: none;
}

pagination a {
	color: rgba(var(--color-font), var(--opacity-subtext));
	border-radius: var(--radius-small);
	display: flex;
	align-items: center;
	height: 2.5em;
	font-size: 14px;
	text-decoration: none;
}

pagination a:not([tabindex='-1']) {
	background: rgba(var(--color-font), .05);
	padding: 0 10px;
	transition: all .12s ease;
	box-shadow: inset 0 0 0 2px rgba(var(--color-accent), 0);
}

pagination a.icon {
	padding: 0 4px;
}

pagination a:not([tabindex='-1']):hover {
	background: rgba(var(--color-font), .1);
	color: rgba(var(--color-font), 1);
}

pagination a:not([tabindex='-1']).active {
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-light), 1);
}

pagination a[disabled] {
	background: transparent;
}

/* ---------------------- */
/* Attachments */

.attachment {
	display: flex;
	padding: 12px 15px;
	border: 1px solid rgba(var(--color-font), .1);
	color: rgba(var(--color-font), 1);
	column-gap: 15px;
	flex-direction: row;
	border-top: none;
	transition: all .12s ease;
	width: 100%;
	text-decoration: none;
	align-items: center;
}

.attachment svg {
	flex: 0 0 1.625rem;
	opacity: var(--opacity-subtext);
	transition: all .12s ease;
}

.attachment span {
	flex-grow: 1;
	font-weight: 600;
	color: rgba(var(--color-font), 1);
	overflow: hidden;
	word-wrap: break-word;
	line-height: 26px;
	width: 100%;
}

.attachment:hover {
	background: rgba(var(--color-font), .025);
}

.attachment:hover svg {
	color: rgba(var(--color-accent), 1);
	opacity: 1;
}

.attachment:first-child {
	border-top: 1px solid rgba(var(--color-font), .1);
	border-top-left-radius: var(--radius-medium);
	border-top-right-radius: var(--radius-medium);
}

.attachment:last-child {
	border-bottom-left-radius: var(--radius-medium);
	border-bottom-right-radius: var(--radius-medium);
}

split .attachment {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-medium);
}

/* ---------------------- */
/* Codeblocks */

pre, code {
	background: rgba(var(--color-font), .025);
	border-radius: var(--radius-medium);
	color: rgba(var(--color-font), 1);
	font-family: monospace;
	font-size: 1rem;
	user-select: text;
}

pre > code {
	background: none;
}

pre {
	border: 1px solid rgba(var(--color-font), .1);
	line-height: 1.4;
	margin: 1.25rem 0 0;
	overflow: auto;
	padding: 0.8rem 1.25rem;
}

pre::before {
	color: rgba(var(--color-font), var(--opacity-subtext));
	content: attr(language);
	display: block;
	font-size: 0.875rem;
	font-weight: 600;
	margin-bottom: 0.8rem;
}

pre:not([language])::before {
	display: none;
}

:not(pre) > code {
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-small);
	padding: 0 5px 1px;
}

pre::selection, code::selection {
	background-color: rgba(var(--color-font), .15);
	color: rgba(var(--color-font), .8);
}

pre[class*='accent-'], code[class*='accent-'] {
	background: rgba(var(--color-accent), .05);
}

pre[class*='accent-']::before, code[class*='accent-']::before {
	color: rgba(var(--color-accent), 1);
}

pre > .code-comment, code > .code-comment {
	opacity: var(--opacity-subtext);
}

info[class*='accent-'] pre, pre[class*='accent-'] {
	border-color: rgba(var(--color-accent), .35);
}

info code, info pre {
	background: rgba(var(--color-card), 1);
}

/* ---------------------- */
/* Carousel */

carousel {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

carousel .item {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background: rgba(var(--color-card), 1);
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s ease;
}

carousel .item.visible {
	opacity: 1;
	pointer-events: auto;
}

carousel + indicators {
	display: flex;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

carousel + indicators > container {
	justify-content: center;
	flex-direction: row;
	column-gap: 14px;
}

carousel + indicators indicator {
	display: block;
	width: 30px;
	height: 3px;
	background: rgba(var(--color-font), .2);
	border-radius: var(--radius-small);
	transition: all .12s ease;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

carousel + indicators indicator.focus {
	box-shadow: 0 0 0 2px rgba(var(--color-accent), 1);
}

carousel + indicators indicator:hover {
	background: rgba(var(--color-font), .5);
}

carousel + indicators indicator.active::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 5%;
	height: 100%;
	background: rgba(var(--color-font), 1);
	border-radius: var(--radius-small);
	content: '';
	animation: 5s indicator-progress linear;
}

carousel + indicators indicator.active.extended::after {
	animation: 10s indicator-progress linear;
}

@keyframes indicator-progress {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* ---------------------- */
/* Breadcrumbs */

breadcrumbs {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: rgba(var(--color-base), 1);
	user-select: none;
}

breadcrumbs > container > nav {
	display: flex;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	column-gap: 30px;
}

breadcrumbs > container > nav > a {
	color: rgba(var(--color-font), var(--opacity-standard));
	display: inline-flex;
	white-space: nowrap;
	align-items: center;
	height: 40px;
	position: relative;
	font-size: 14px;
	text-decoration: none;
}

breadcrumbs > container > nav > a:hover {
	color: rgba(var(--color-font), 1);
	text-decoration: underline;
}

breadcrumbs > container > nav > a::after {
	border-top: 1px solid rgba(var(--color-font), 1);
	border-right: 1px solid rgba(var(--color-font), 1);
	position: absolute;
	right: -18px;
	top: 44%;
	content: ' ';
	width: 6px;
	height: 6px;
	opacity: var(--opacity-standard);
	transform: rotate(45deg);
	pointer-events: none;
}

breadcrumbs > container > nav > a:last-child {
	color: rgba(var(--color-font), 1);
	font-weight: 600;
	pointer-events: none;
}

breadcrumbs > container > nav > a:last-child::after {
	display: none;
}

/* ---------------------- */
/* Toolbar */

toolbar {
	box-shadow: 0 1px 0 0 rgba(var(--color-light), .08);
	background: rgba(var(--color-dark), 1);
	display: flex;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 4;
	justify-content: center;
	-webkit-user-select: none;
}

toolbar > container > header {
	display: flex;
	width: 100%;
	flex-direction: row;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

toolbar > container > header > .title {
	display: flex;
	height: 44px;
	align-items: center;
	flex-grow: 1;
}

toolbar > container > header > .title > span {
	color: rgba(var(--color-light), 1);
	font-weight: 400;
	font-size: 1rem;
	text-decoration: none;
}

toolbar > container > header > .title > badge {
	background: rgba(var(--color-accent), 1);
	color: rgba(var(--color-dark), 1);
	margin-right: 0.5rem;
}

toolbar > container > header > actions {
	display: flex;
	flex-direction: row-reverse;
	gap: 20px;
}

toolbar > container > header > actions > a {
	position: relative;
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	color: rgba(var(--color-light), 1);
	flex: 0 0 24px;
	cursor: pointer;
}

toolbar > container > header > actions > a.selected {
	color: rgba(var(--color-accent), 1);
	opacity: 1;
}

toolbar > container > header > actions > a > svg {
	transition: opacity .1s ease;
	opacity: var(--opacity-subtext);
}

toolbar > container > header > actions > a:hover > svg {
	opacity: 1;
}

toolbar > container > header > actions > a > dot {
	position: absolute;
	left: -4px; top: -4px;
	height: 1rem;
	width: 1rem;
	border: 3px solid rgba(var(--color-dark), 1);
}

/* ---------------------- */
/* Placeholder */

placeholder {
	display: block;
	border: 1px solid rgba(var(--color-font), .1);
	background: rgba(var(--color-font), 0.03);
	border-radius: var(--radius-standard);
	padding: 2rem 1.25rem;
	user-select: none;
	text-align: center;
}

placeholder.subtle {
	padding: 1.25rem;
	background: none;
}

placeholder > span {
	color: rgba(var(--color-font), var(--opacity-subtext));
	display: block;
}

/* ---------------------- */
/* Cards */

.card {
	background: rgba(var(--color-card), 1);
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-standard);
	position: relative;
	display: block;
	overflow: auto;
	width: 100%;
}

.card[href] {
	color: rgba(var(--color-font), 1);
	text-decoration: none;
}

.card[href]:hover {
	border: 1px solid rgba(var(--color-font), .3);
}

.card[class*='accent-'] {
	border: 1px solid rgba(var(--color-font), .2);
	background: rgba(var(--color-accent), .5);
}

.card[href][class*='accent-']:hover {
	border: 1px solid rgba(var(--color-font), 0.8);
}

.card[class*='accent-'].saturated {
	background: rgba(var(--color-accent), 1);
}

.card[class*='accent-'].saturated.above-threshold a {
	color: rgba(var(--color-font), 1);
}

.card[class*='accent-'].saturated.below-threshold a {
	color: rgba(var(--color-light), 1);
}

.card ::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

.card ::-webkit-scrollbar-thumb {
	border: none;
}

.card > heading {
	display: flex;
	flex-direction: row;
	gap: 12px;
	overflow: hidden;
	padding: 0.75rem 1rem 0.75rem 1.25rem;
	user-select: none;
}

.card > heading > h2 {
	flex-grow: 1;
	font-weight: 700;
	line-height: 2rem;
	white-space: nowrap;
	font-size: initial;
	margin: 0;
}

.card > heading > span {
	flex-grow: 1;
	font-weight: 700;
	line-height: 2rem;
	white-space: nowrap;
}

.card > heading > a {
	height: 2rem;
}

.card > heading > a:has(svg) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: none;
	width: 2rem;
	padding: 0;
}

.card > heading > a:has(svg) svg {
	opacity: var(--opacity-subtext);
	transition: all .12s ease;
}

.card > heading > a:has(svg):hover {
	background: rgba(var(--color-font), .05);
	color: rgba(var(--color-font), 1);
	box-shadow: none;
}

.card > heading > a:has(svg):hover svg {
	opacity: 1;
}

.card > hr {
	border-radius: 0;
	margin: 0;
}

.card > content {
	display: block;
	overflow: auto;
	padding: 1.25rem;
}

.card > content.minimal {
	padding: 0;
}

.card > content.scrollable {
	padding: 1.25rem 0.5rem;
}

.card > heading + content {
	padding-top: 0;
}

.card > heading + content.scrollable {
	padding-top: 0;
}

.card > content > content-scroller {
	padding: 0 0.75rem;
	display: block;
	overflow-y: auto;
}

.card > content > content-scroller.h100 {
	max-height: 100px;
}

.card > content > content-scroller.h150 {
	max-height: 150px;
}

.card > content > content-scroller.h200 {
	max-height: 200px;
}

.card > content > content-scroller.h250 {
	max-height: 250px;
}

.card > content > content-scroller.h300 {
	max-height: 300px;
}

.card > content > content-scroller.h350 {
	max-height: 350px;
}

.card > content > content-scroller.h400 {
	max-height: 400px;
}

.card > content > :first-child {
	margin-top: 0;
}

.card > content > placeholder {
	border-radius: var(--radius-medium);
}

.card > content > content-scroller > placeholder {
	border-radius: var(--radius-medium);
}

.card > actions {
	background: rgba(var(--color-font), .025);
	border-top: 1px solid rgba(var(--color-font), 0.045);
	border-bottom: 1px solid rgba(var(--color-font), 0.045);
	padding: 0.8rem 1.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

/* ---------------------- */
/* Identities */

identity {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

identity > avatar {
	position: relative;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
}

identity.online > avatar::after,
identity.offline > avatar::after {
	content: '';
	position: absolute;
	bottom: -2px;
	right: -2px;
	width: 12px;
	height: 12px;
	border-radius: var(--radius-infinite);
	border: 2px solid rgba(var(--color-card), 1);
}

identity.online > avatar::after {
	background-color: rgb(80, 184, 60);
}

identity.offline > avatar::after {
	background-color: rgb(222, 54, 24);
}

identity > avatar > img {
	position: relative;
	border-radius: var(--radius-infinite);
	object-fit: cover;
	width: 100%;
	height: 100%;
}

identity > content {
	display: flex;
	user-select: none;
	flex-direction: column;
	justify-content: center;
	gap: 3px;
}

identity > content > span {
	font-weight: 500;
}

identity > content > a {
	color: rgba(var(--color-font), 1);
	text-decoration: none;
	font-weight: 500;
}

identity > content > a:hover {
	text-decoration: underline;
}

identity > content > small {
	color: rgba(var(--color-font), var(--opacity-subtext));
	display: block;
	font-weight: 500;
	font-size: 14px;
}

/* ---------------------- */
/* Overlay & Popups */

overlay {
	max-width: 100%;
	max-height: 100%;
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	transition: all .15s ease;
	pointer-events: none;
	opacity: 0;
	z-index: 20;
}

overlay.visible {
	pointer-events: auto;
	opacity: 1;
}

overlay::backdrop {
	display: none;
}

overlay > content {
	display: flex;
	width: 90%;
	max-width: 600px;
	min-height: 150px;
	max-height: 70%;
	flex-direction: column;
	background: rgba(var(--color-base), 1);
	border: 1px solid rgba(var(--color-font), .1);
	border-radius: var(--radius-large);
	position: relative;
	overflow: hidden;
	transition: all .2s linear(0, 0.353 7.7%, 0.629 15.9%, 0.831 24.7%, 0.906 29.4%, 0.965 34.3%, 1.028 43.2%, 1.045 48.1%, 1.052 53.5%, 1.047 62.9%, 1.006 86.8%, 1);
	transform: scale(0.8);
	opacity: 0;
	z-index: 21;
}

overlay > content::after {
	position: absolute;
	content: '';
	left: calc(50% - 20px);
	top: calc(50% - 20px);
	display: block;
	width: 40px;
	height: 40px;
	border: 3px solid rgba(var(--color-font), .1);
	border-top: 3px solid rgba(var(--color-accent), 1);
	border-radius: 50%;
	animation: spinner .8s linear infinite;
}

overlay.visible > content {
	transform: scale(1);
	opacity: 1;
}

overlay > content > iframe {
	z-index: 22;
	min-height: 0;
	flex-grow: 1;
}

/* ---------------------- */
/* Helpers */

.sticky-top {
	position: sticky;
	top: 0;
}

.sticky-bottom {
	position: sticky;
	bottom: 0;
}

.throttled {
	pointer-events: none;
	opacity: 0.65;
}

.colored {
	color: rgba(var(--color-accent), 1);
}

.clear {
	clear: both;
}

.resize-both {
	resize: both;
}

.resize-none {
	resize: none;
}

.resize-x {
	resize: horizontal;
}

.resize-y {
	resize: vertical;
}

.no-wrap {
	white-space: nowrap;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.full-width {
	width: 100%;
}

.select-none {
	user-select: none;
}

.select-all {
	user-select: all;
}

.select-text {
	user-select: text;
}

.select-auto {
	user-select: auto;
}

.select-contain {
	user-select: contain;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mt-0 {
	margin-top: 0;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.pb-0 {
	padding-bottom: 0;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pt-0 {
	padding-top: 0;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-40 {
	padding-top: 40px;
}

.hidden {
	display: none !important;
}

/* ---------------------- */
/* Corrections */

grid > *, split > * {
	margin: 0 !important;
}

split + split {
	margin-top: 1.25rem;
}

.below-threshold {
	color: rgba(var(--color-light), 1) !important;
}

.above-threshold {
	color: rgba(var(--color-dark), 1) !important;
}

p:first-child, ul:first-child, ol:first-child, blockquote:first-child,
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
	margin-top: 0;
}

table tr th:first-child,
table tr td:first-child {
	padding-left: 1.25rem;
}

table tr th:last-child,
table tr td:last-child {
	padding-right: 1.25rem;
}

/* ---------------------- */
/* Keyframes */

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0% {
		opacity: 1
	}
	50% {
		opacity: .3
	}
	100% {
		opacity: 1
	}
}

@keyframes progress-bar {
	0% {
		width: 0;
	}
	25% {
		width: 100%;
	}
	50% {
		left: auto;
		right: 0;
	}
	75% {
		width: 0;
	}
	100% {
		display: none;
	}
}

/* ---------------------- */
/* Media Queries */

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1100px) {
	iframe.youtube {
		height: 300px;
	}

	gallery.grid-5, grid.grid-5 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	gallery.grid-6, grid.grid-6 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media screen and (max-width: 800px) {
	scrollbutton {
		bottom: 25px;
		right: 25px;
	}

	iframe.youtube {
		height: 250px;
	}

	gallery.grid-4, grid.grid-4 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	gallery.grid-5, grid.grid-5 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media screen and (max-width: 650px) {
	gallery.grid-2, grid.grid-2 {
		grid-template-columns: minmax(0, 1fr);
	}

	gallery.grid-3, grid.grid-3 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	gallery.grid-4, grid.grid-4 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	gallery.grid-5, grid.grid-5 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	gallery.grid-6, grid.grid-6 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	gallery {
		gap: 15px;
	}

	split {
		grid-template-columns: minmax(0, 1fr);
	}

	gallery.sm-grid-3, grid.sm-grid-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	gallery.sm-grid-2, grid.sm-grid-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	gallery.sm-grid-1, grid.sm-grid-1 {
		grid-template-columns: minmax(0, 1fr);
	}
}

@media screen and (max-width: 400px) {
	iframe.youtube {
		height: 200px;
	}
}

/* ---------------------- */
/* Reduced Motion */

@media (prefers-reduced-motion) {
	spinner {
		border: 4px solid rgba(var(--color-accent), 1);
		animation: pulse 2s linear infinite;
	}

	@keyframes progress-bar {
		0% {
			width: 100%;
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			width: 100%;
			opacity: 0;
		}
	}
	toast {
		transition: transform 0s linear;
	}

	.input-toggle > toggle::after {
		transition: all 0s ease;
	}
}