:root {

    --font-size-small: 0.875rem; /* 14 */
    --font-size-standard: 1rem;

    --opacity-standard: 1;
    --opacity-subtext: 0.65;
    --opacity-disabled: 0.5;
    --opacity-invisible: 0;

    --radius-small: 4px;
    --radius-medium: 6px;
    --radius-standard: 10px;
    --radius-large: 15px;
    --radius-infinite: 100%;
    --radius-toggle: 20px;

    --color-dark: 26, 27, 30;
    --color-light: 255, 255, 255;

    --color-danger: 222, 54, 24;
    --color-autofill: 37, 142, 201;
}

/* ---------------------- */
/* Status Accents */

.accent-info {
    --color-accent: 38, 132, 252;
    --color-accent-alt: 73, 155, 255;
}

.accent-success {
    --color-accent: 80, 184, 60;
    --color-accent-alt: 90, 198, 65;
}

.accent-warning {
    --color-accent: 244, 147, 66;
    --color-accent-alt: 255, 156, 76;
}

.accent-danger {
    --color-accent: 210, 45, 57;
    --color-accent-alt: 229, 50, 65;
}

/* ---------------------- */
/* General Accents */

.accent-blueberry {
    --color-accent: 131, 73, 236;
    --color-accent-alt: 142, 107, 240;
}

.accent-lavender {
    --color-accent: 170, 79, 225;
    --color-accent-alt: 197, 102, 255;
}

.accent-rose {
    --color-accent: 239, 87, 142;
    --color-accent-alt: 255, 122, 170;
}

.accent-raspberry {
    --color-accent: 229, 70, 70;
    --color-accent-alt: 235, 112, 112;
}

.accent-sunrise {
    --color-accent: 246, 144, 45;
    --color-accent-alt: 248, 172, 98;
}

.accent-pineapple {
    --color-accent: 244, 181, 42;
    --color-accent-alt: 245, 199, 96;
}

.accent-lime {
    --color-accent: 139, 195, 74;
    --color-accent-alt: 167, 209, 117;
}

.accent-emerald {
    --color-accent: 20, 195, 149;
    --color-accent-alt: 22, 217, 166;
}

.accent-mint {
    --color-accent: 8, 181, 170;
    --color-accent-alt: 9, 206, 194;
}

.accent-turquoise {
    --color-accent: 55, 184, 225;
    --color-accent-alt: 100, 200, 232;
}

.accent-carolina {
    --color-accent: 13, 137, 207;
    --color-accent-alt: 14, 153, 230;
}

.accent-azure {
    --color-accent: 61, 105, 218;
    --color-accent-alt: 76, 126, 253;
}